body {
    background-color: pink;
}
.figura {
    float: right;
    padding: 3px;
}
@media screen and (max-width: 510px) {
    .figura {
        width: 50%;
    } 
}
@media screen and (min-width: 511px) and (max-width: 1400px) {
    .figura {
        width: 25%;
        min-width: 200px;
    } 
}
@media screen and (min-width: 1401px) {
    .figura {
        width: 25%;
        max-width:350px;
    }
} 